/* star 处理函数 */

var filterStar = function (num){
    var _on = '/images/venuedetail/icon_star.png';
    var _off = '/images/venuedetail/icon_off.png';
    var _arr = [];
    for(var i=0;i<5;i++){
        i < num ? _arr.push(_on) : _arr.push(_off)        
    }
    return _arr
}

var filterDistance = function(val){
    return val < 1000 ? val+'m' : (val/1000).toFixed(1)+'km'
}

var filterCardStauts = function(val){
    return val == 1 ? '销售中' : ''
}


var filterCardName = function(str){
    return str.length > 10 ? str.slice(0,8) + '...' : str  
}

var filterCardName2 = function (str) {
    return str.length > 8 ? str.slice(0, 8) + '...' : str
}

var filterVenueName = function (str) {
    return str.length > 6 ? str.slice(0, 6) + '...' : str
}

var filterVenueName3 = function (str) {
    return str.length > 2 ? str.slice(0, 2) + '...' : str
}

var filterCardTime = function (str) {
    return str.split(' ')[0];
}

var filterMomey = function (num) {
    return num.toFixed(2)
}

var formatDateTime = function (inputTime) {
    var date = getDate(inputTime);
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    m = m < 10 ? ('0' + m) : m;
    var d = date.getDate();
    d = d < 10 ? ('0' + d) : d;
    var h = date.getHours();
    h = h < 10 ? ('0' + h) : h;
    var minute = date.getMinutes();
    var second = date.getSeconds();
    minute = minute < 10 ? ('0' + minute) : minute;
    second = second < 10 ? ('0' + second) : second;
    return y + '/' + m + '/' + d;
}

var filterType = function (item) {
    if (item.tradeType == 0 || item.tradeType == 3){
        return '+' + item.tradeMoney
    }else if (item.tradeType == 5 ) {
        return '-' + item.tradeMoney
    }else{
        return item.tradeMoney
    }
}

var filterTypeClass = function (item) {
    if (item.tradeType == 0 || item.tradeType == 3) {
        return  'add'
    } else if (item.tradeType == 5) {
        return 'reduce'
    } else {
        return ''
    }
}


var filterStatus = function (item) {
    if (item.cvaoIsOpen) {
        return item.isSelect ? '已预约' : '￥' + itemName.cvaoPrice + '预约'      
    } else {
        return '不可预约'
    }
      
}

var ticketStatus = function (obj) {
    if (obj.status == 1) {
        return '暂停销售'
    } else if (obj.status == 2) {
        return '已下架'
    } else if (obj.status == 0) {
        if ( (obj.ticketPublishAmount - obj.soldAmount) > 10) {
            return '在售中'
        } else {
            if ((obj.ticketPublishAmount - obj.soldAmount) <= 0) {
                return '已售罄'
            }

            return "剩余:" + (obj.ticketPublishAmount - obj.soldAmount)
        }
    }
}


var cardStatus =  function(obj){
    /*  0, "次数卡"   xxxx次
        1, "月卡"     xxxt天
        2, "季卡"     xxxt天
        3, "年卡"     xxxt天
        4, "会员卡"   
        5, "学期课"
        6, "自由卡"
        7, "活动次数卡"
        */
    if (obj.type == 0 || obj.type == 7){
        return obj.times + '次'
    } else if (obj.type == 1 || obj.type == 2 || obj.type == 3 || obj.type == 6){
        return obj.activeTime + '天'
    }  else if (obj.type == 4) {
        return obj.money + '元'
    }
}

var cardTime = function (obj) {
    /*0, "次数卡"
        1, "月卡"
        2, "季卡"
        3, "年卡"
        4, "会员卡"
        5, "学期课"
        6, "自由卡"
        7, "活动次数卡"
        */
    if (obj.type == 7 || obj.type == 5){
        return obj.certificateStartTimeStr + ' 至 ' + obj.certificateEndTimeStr
    }else{
        return obj.activeTime + '天'
    }
}
var toFixed2 = function (num) {
    if(num){
        return num.toFixed(2);
    }
}


module.exports = {
    filterStar: filterStar,
    filterDistance: filterDistance,
    filterCardName: filterCardName, 
    filterCardName2: filterCardName2,
    filterVenueName3: filterVenueName3,
    filterCardTime: filterCardTime,
    filterVenueName: filterVenueName,
    filterMomey: filterMomey,
    formatDateTime: formatDateTime,
    filterType: filterType,
    filterTypeClass: filterTypeClass,
    ticketStatus: ticketStatus,
    cardStatus: cardStatus,
    cardTime: cardTime,
    toFixed2: toFixed2
}
